.agregar-container {
    height: 450px;
}

.titulo {
    color: darkred;
}

.formulario {
    display: flex;
    flex-direction: column; /* Alinea los campos en una columna */
    margin-left: 50px;
    float: left;
}

.campos {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    width: 300px;
}

.campos label {
    text-align: left;
    padding-bottom: 5px; /* Espacio bajo las etiquetas */

}

.campos input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.container-poster {
    margin-left: 300px;
    height: 200px;
    width: 200px;
}

.agregar-poster {
    max-height: 100%;
    max-width: 100%;
    object-fit: inherit;
}


.btn-agregar{
    background-color: darkred;
    color: white;
    font-size: 14px; /* Reduzco el tamaño de fuente */
    padding: 8px 16px; /* Reduzco el espacio interno */
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 500px; /* Margen superior e inferior 20px y margen lateral automático */
    position: absolute;
    bottom: -320px; /* Ajusta la posición vertical */
    left: -20%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
}
.btn-agregar:hover{
    background-color: crimson;
}