#BannerRegister {
    /* Establece el fondo y el color de texto para #BannerRegister */
    background: rgb(37, 37, 37); /* Fondo gris oscuro */
    color: white; /* Texto blanco */
    /* Configura el diseño del contenedor #BannerRegister */
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column; /* Columna principal */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    margin-top: 20px; /* Margen superior de 20px */
    padding: 20px; /* Relleno interno de 20px */
    font-family: "Roboto Condensed",sans-serif; /* Establece la fuente de texto */
}

.tipo-letra {
    color: inherit; /* Usa el color heredado (blanco) */
    margin: 10px 0; /* Margen superior e inferior de 10px, sin margen lateral */
}

.ContentStep {
    /* Configura el diseño de la sección ContentStep */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Margen superior de 20px */
    margin-bottom: 40px; /* Margen inferior de 40px */
}

.Step, .Plus {
    /* Establece el diseño común para los elementos con clases Step y Plus */
    width: 186px; /* Ancho de 186px */
    height: 106px; /* Alto de 106px */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-weight: 700; /* Grosor de fuente 700 (negrita) */
}

.Plus {
    /* Cambia las propiedades específicas para elementos con clase Plus */
    width: 44px; /* Ancho de 44px */
    height: 44px; /* Alto de 44px */
    border-radius: 50%; /* Crea un borde circular */
    border: 2px solid white; /* Añade un borde sólido blanco */
    margin: 0 35px; /* Margen izquierdo y derecho de 0px y 35px respectivamente */
}

.Icon {
    width: 64px; /* Ancho deseado de 64px */
    height: 64px; /* Alto deseado de 64px */
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}

.formulario-container {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column; /* Columna principal */
    align-items: center; /* Centra horizontalmente */
    padding: 20px; /* Espacio entre el banner y el formulario */
}

.formulario-seccion {
    margin-bottom: 20px; /* Espacio entre secciones de datos personales y email de acceso */
    text-align: left; /* Alineación del encabezado a la izquierda */
}

.formulario-seccion h2 {
    color: darkred; /* Cambia el color del encabezado h2 a rojo oscuro */
}

.formulario-submit {
    background-color: darkred; /* Fondo rojo oscuro */
    color: white; /* Texto blanco */
    font-size: 16px; /* Tamaño de fuente de 16px */
    width: auto; /* Ancho automático (ajustará el ancho al contenido) */
    padding: 10px; /* Relleno interno de 10px */
    margin: 10px auto; /* Margen superior e inferior 10px y margen lateral automático */
    border: 1px solid #ccc; /* Borde de 1px sólido con color gris claro */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-sizing: border-box; /* Incluye el borde en el ancho y alto */
}

.formulario-submit:hover {
    background-color: #a70000; /* Cambia el color de fondo al pasar el cursor */
}


/* Agrega reglas CSS para los campos del formulario */
.formulario-campo {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.formulario-campo #genero {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 176%;
}

.formulario-campo label {
    width: 30%; /* Ancho del 30% para etiquetas de campo */
    text-align: left;
}

.formulario-campo input,
.formulario-campo select {
    flex: 1; /* Toma el espacio restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.campo-password {
    position: relative;
}

.campo-password input {
    width: 148%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    cursor: pointer;
    color: darkred;
}



