/* Establece un ancho máximo para el formulario */
.formulario-registro {
    max-width: 600px; /* Ajusta el valor según tus preferencias */
    margin: 0 auto 100px; /* Centra horizontalmente */
    padding: 20px;
    display: flex; /* Usa flexbox para organizar los campos */
    justify-content: space-between; /* Distribuye los campos uniformemente */

}

/* Establece el ancho y márgenes de las secciones */
.formulario-seccion1,
.formulario-seccion2 {
    flex: 1; /* Toma el espacio disponible igualmente */
    margin: 0 10px; /* Margen entre las secciones */
}

/* Alinea todos los campos a la izquierda */
.formulario-campo {
    display: flex;
    flex-direction: column; /* Alinea los campos en una columna */
    margin: 10px 0;
}

/* Establece el ancho de las etiquetas de campo */
.formulario-campo label {
    text-align: left;
    padding-bottom: 5px; /* Espacio bajo las etiquetas */
}

/* Establece la anchura de los campos de entrada y selects */
.formulario-campo input,
.formulario-campo select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px; /* Espacio entre los campos */
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilo para los campos de contraseña */
.campo-password {
    position: relative;
}

.campo-password input {
    width: 100%;
}

.formulario-submit {
    background-color: darkred;
    color: white;
    font-size: 14px; /* Reduzco el tamaño de fuente */
    padding: 8px 16px; /* Reduzco el espacio interno */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 200px; /* Establece un ancho máximo para el botón */
    margin: 25px; /* Margen superior e inferior 20px y margen lateral automático */
    text-align: center; /* Alinea el texto al centro */
    display: block; /* Convierte el botón en un elemento de bloque para centrarlo */
    position: absolute;
    bottom: -240px; /* Ajusta la posición vertical */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */

}

.formulario-submit:hover{

    background-color: crimson; /* Fondo de color azul claro al pasar el mouse */
}

.toggle-password {
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: darkred;
}

.titulo-seccion {
    color: darkred; /* Cambia el color del encabezado h2 a rojo oscuro */
}
